<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!-- 1. 通用参数 -->
    <context-param>
        <param-name>name</param-name>
        <param-value>zhongfucheng</param-value>
    </context-param>

    <!-- 2. 初始化监听-->
    <listener>
        <listener-class>listener.WebInitListener</listener-class>
    </listener>

    <!-- 3. 过滤器设置-->
    <filter>
        <filter-name>BaseFilter</filter-name>
        <filter-class>filter.BaseFilter</filter-class>
        <init-param>
            <param-name>Site</param-name>
            <param-value>菜鸟教程</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>BaseFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>web.Mine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/MyServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckBox</servlet-name>
        <servlet-class>web.CheckBox</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckBox</servlet-name>
        <url-pattern>/CheckBox</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadParams</servlet-name>
        <servlet-class>web.ReadParams</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadParams</servlet-name>
        <url-pattern>/ReadParams</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HelloForm</servlet-name>
        <servlet-class>web.HelloForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloForm</servlet-name>
        <url-pattern>/HelloForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>web.Upload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Refresh</servlet-name>
        <servlet-class>web.Refresh</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Refresh</servlet-name>
        <url-pattern>/Refresh</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>web.SendEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/SendEmail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>web.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userAction</servlet-name>
        <servlet-class>web.UserInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userAction</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddEmpServlet</servlet-name>
        <servlet-class>web.emp.AddEmpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEmpServlet</servlet-name>
        <url-pattern>/AddEmpServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>updateEmp</servlet-name>
        <servlet-class>web.emp.UpdateEmpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateEmp</servlet-name>
        <url-pattern>/updateEmp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showEmp</servlet-name>
        <servlet-class>web.emp.ShowEmpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showEmp</servlet-name>
        <url-pattern>/showEmp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>delEmp</servlet-name>
        <servlet-class>web.emp.DelEmpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delEmp</servlet-name>
        <url-pattern>/delEmp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>listEmp</servlet-name>
        <servlet-class>web.emp.ListEmpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listEmp</servlet-name>
        <url-pattern>/listEmp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SessionTrack</servlet-name>
        <servlet-class>web.SessionTrack</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionTrack</servlet-name>
        <url-pattern>/SessionTrack</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>


    <!-- servlet 定义 -->
    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>web.ErrorHandler</servlet-class>
    </servlet>
    <!-- servlet 映射 -->
    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/ErrorHandler</url-pattern>
    </servlet-mapping>

    <!-- error-code 相关的错误页面 -->
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorHandler</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/ErrorHandler</location>
    </error-page>

    <!-- exception-type 相关的错误页面 -->
    <error-page>
        <exception-type>
            javax.servlet.ServletException
        </exception-type>
        <location>/ErrorHandler</location>
    </error-page>

    <error-page>
        <exception-type>java.io.IOException</exception-type>
        <location>/ErrorHandler</location>
    </error-page>

    <!--    通用的错误处理程序-->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/ErrorHandler</location>
    </error-page>
</web-app>